@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --root-font-size: 20px;
    --root-font-family: "Quicksand", serif;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    --color-orange: #FEA301;
    --color-black: #111111;
    --color-skyblue: #01ACFD;
    --color-paste: #05D4DF;
    --color-purple: #5D58EF;
}

html {
    font-family: var(--root-font-family);
    font-size: var(--root-font-size);
}

body {
    font-family: var(--root-font-family);
    font-size: var(--root-font-size);
    max-width: 100%;
    margin: 0 auto;
    color: var(--color-black)
}

/* Navbar Section */

.nav-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 9.6rem;
    margin: 0 auto;
    width: 46%;
}

.icon-title {
    display: flex;
    justify-content: icon-title;
    align-items: center;
}

.icon-title img {
    height: 62px;
    width: 62px;
}

.icon-title p {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: var(--font-weight-semibold);
    margin: 17px 0 15px 11px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.55rem;
    padding: .8rem 0;
}

.menu ul li:hover {
    cursor: pointer;
}

.menu ul li:nth-child(1) {
    font-weight: bold;
    color: var(--color-orange);
}

.menu ul li:nth-child(2) {
    font-weight: var(--font-weight-medium);
    color: var(--color-skyblue);
}

.menu ul li:nth-child(3) {
    font-weight: var(--font-weight-medium);
    color: var(--color-paste);
}

.menu ul li:nth-child(4) {
    font-weight: var(--font-weight-medium);
    color: var(--color-purple);
}

.contact button {
    background-color: var(--color-orange);
    border: 0px solid var(--color-orange);
    width: 9.85rem;
    padding: .5rem;
    font-weight: var(--font-weight-semibold);
    color: white;
    border-radius: .6rem;
    font-size: 1rem;
    font-family: var(--root-font-family);
}

.contact button:hover {
    background-color: black;
    color: white;
}

.menu-icon {
    display: none;
}

marquee {
    font-size: 1rem;
    color: var(--color-paste);
    text-align: center;
}

/* Hero Section */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.6rem;
    margin: 0 auto;
    width: 46%;
}

.title {
    font-size: 2.80rem;
    line-height: 3.1rem;
    font-weight: bold;
    margin: 0;
}

.title span:nth-child(1) {
    color: var(--color-orange);
}

.title-blue {
    color: var(--color-skyblue);
}

.description {
    margin: 1.2rem 0;
}

.hero-title-description button,
.story-container>div>button {
    width: 9.7rem;
    padding: .5rem;
    font-weight: bold;
    color: white;
    background-color: var(--color-black);
    border: 1px solid black;
    border-radius: .6rem;
    font-size: 1rem;
    font-family: var(--root-font-family);
    line-height: 1.5rem;
}

.hero-title-description button:hover, .btn-view-all button:hover{
    background-color: var(--color-orange);
    color: white;
    border: 0px;
}

/* Slider Section */

.slider-container,
.story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url(../assets/bg.png);
}

.slider-header,
.story-header {
    font-size: 2.3rem;
    line-height: 2.855rem;
    font-weight: bold;

}

.card-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    gap: 1.25rem;
}

.card {
    text-align: center;
    border-radius: .5rem;
    height: 24.839rem;
    width: 18.39rem;
}

.card img {
    margin: 2.6rem auto 1.6rem auto;
    height: 6.683rem;
    width: 6.683rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    line-height: 1.5rem;
}

.card-description {
    font-size: .77rem;
    line-height: 1.41rem;
    margin: 1.65rem 2.4rem;
    color: #808080;
}

.card a {
    font-size: .75rem;
    text-decoration: none;
    font-weight: bold;
    margin: 1.9rem auto 2.9rem auto;
}

.card-1 {
    background: linear-gradient(to bottom, #DEF5FF, 40%, white);
    border: 1px solid #DEF5FF;
}

.card-2 {
    background: linear-gradient(to bottom, #FFF4DC, 40%, white);
    border: 1px solid #FFF4DC;
}

.card-3 {
    background: linear-gradient(to bottom, #F2E8FF, 40%, white);
    border: 1px solid #F2E8FF;
}

.card-1 a {
    color: #64C8FF;
}

.card-2 a {
    color: #F0AA00;
}

.card-3 a {
    color: #8700FF;
}

.dot {
    height: 3rem;
    width: 3rem;
    background-color: var(--color-orange);
    border-radius: 50%;
    display: inline-block;
    margin: 4rem .2rem;
    cursor: pointer;
}

.dot:hover {
    background-color: black;
}

.fa-chevron-left {
    position: relative;
    bottom: -.875rem;
    left: 1.2rem;
    color: white;
}

.fa-chevron-right {
    position: relative;
    bottom: -.875rem;
    left: 1.2rem;
    color: white;
}

/* Story Section */

.story-container {
    background: linear-gradient(to top, rgb(254, 163, 1, 30%), 30%, white), url(../assets/bg.png);
}

.story-header {
    margin: 3rem 0 4rem;
    margin-top: 0px;
}

.story-card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    gap: 1.25rem;
}

.story-card-1 {
    background-color: white;
}

.story-card-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 30.05rem;
    height: 31.12rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.story-card-2>div {
    background-color: white;
    border-radius: 1rem;
    width: 14.53rem;
    height: 15.08rem;
}

.story-card-2>div>h3 {
    font-size: .767rem;
}

.story-card {
    /* background-color: white; */
    border-radius: 16px;
    text-align: center;
    border-radius: .8rem;
    height: 31.526rem;
    width: 27.01rem;
}

.story-card img {
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.story-card>h3,
.story-card>button,
.story-card>p,
.story-card>div>h3,
.story-card>div>button {
    text-align: left;
    margin-left: 2rem;
}

.story-card-title {
    font-size: 0.767rem;
    margin: 0 2rem;
}

.story-card-title-exp {
    font-size: 1.2rem;
}

.story-card-description {
    font-size: .767rem;
    color: #666666;
    margin-right: 2rem;
}

.story-card-grid button,
.story-card-1 button {
    font-size: .767rem;
    border-radius: 2.45rem;
    color: white;
    background-color: #95B226;
    border: 0px;
    padding: .4rem .5rem;
    font-weight: var(--font-weight-medium);
    margin: 0 auto;
    position: relative;
    bottom: 1.2rem;
    font-family: var(--root-font-family);
    width: 9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.story-card-1 button {
    left: -7rem;
    background-color: #3CD8E8;
    padding: .8rem;
    bottom: 1.6rem;
}

.story-card-grid:nth-child(2) button,
.story-card-min button {
    background-color: #5D58F0;
}

.btn-view-all {
    margin: 3rem auto 4rem;
}

.story-card-min {
    display: none;
}

button {
    cursor: pointer;
}

/* Footer Section */

footer {
    background-color: #01ACFD;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    padding-top: 6rem;
    gap: 4rem;
    height: 20rem;
    width: 46%;
    margin: 0 auto;
}

.footer-header div {
    display: flex;
    align-items: center;
    gap: .2rem;
    max-width: 10rem;
    line-height: 2rem;
}

.footer-header p {
    max-width: 20rem;
    color: #FFFFFF
}

.footer-header div h1 {
    color: white;
    font-size: 2.1rem;
    margin: 0;
}

.footer-menu h3 {
    color: white;
    font-size: 1.2rem;
}

.footer-menu li {
    list-style: none;
    margin-bottom: 1rem;
}

.footer-menu li a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.contact h3 {
    font-size: 1.2rem;
    color: white;
}

.contact li {
    list-style: none;
    display: inline;
    margin-right: .51rem;
    cursor: pointer;
}